*{
  padding: 0;
  margin: 0;
}
body.no-scroll{
  overflow: hidden !important;
}
h1{
    font-size: 16px;
    font-weight: 600;
    margin: 0px 0px 0px 55px;
}
input,textarea{
    font-family: 'public Sans', sans-serif;
}
 .d-flex{
        display: flex;
    }
    .justify-between{
        justify-content: space-between;
    }
     .justify-center{
        justify-content: center;
    }
    .justify-end{
        justify-content:end;
    }
    .align-center{
        align-items: center;
    }
     .align-start{
        align-items: start;
    }
    .flex-column{
        flex-direction: column;
    }
    .flex-row{
      flex-direction: row;
  }
    .d-none{
      display:none;
    }

.cms-wrapper{
    padding: 0px 60px 0px 56px !important;
    margin-left: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
}
.cms-head{
    padding: 17px 58px 17px 6px !important;
    margin-left: 200px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: space-between;
}
.cms-head-comp{
    padding: 17px 62px 17px 8px !important;
    margin-left: 0px !important;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: space-between;
}
.btn  {
    display:inline-block;
    width:max-content;
    text-align:center;
    vertical-align:middle;
    user-select:none;
    border:2px solid transparent;
    border-radius:4px;
    color:#202020;
    padding:8px 16px;
    font-size:14px;
    font-weight:400;
    outline:none;
    height:32px;
    line-height:1.1;
    background: #FFFFFF;
    cursor:pointer
  }
.time-filter{
  font-size: 12px;
  border-radius: 25px !important;
}
.filter-btn-container{
    display: flex;
    gap: 8px;
}
.filter-container{
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
}
.filter-active{
    color: #FFFFFF;
    background: #4B6CFB;
    border: 1px solid #EAEAEA;
}
.filter-btn-container>input{
    border: 1px solid #EAEAEA;
}
.link-btn{
    color:#fff;
    background: #4B6CFB;
}
.dashwrap{
    max-width: 977px;
}
.dashtiles-container{
    display: flex;
    gap: 8px;
}
.dashtiles-main{
    display: flex;
    gap:32px;
    padding: 16px 24px;
    background-color: #fff;
    border-radius: 4px;
    width: 28%;
}
.dashtiles-main h4{
    font-weight: 500;
    font-size: 12px;
    margin: 0px 0px 12px 0px;
}
.dashtiles-main p{
    margin: 0px;
}
.dashtiles-main:first-child>p{
    font-weight: 700;
    font-size: 20px;
    color: #404040;
}
.dashtiles-main>.green-tag>h4{
    color: #267F24;
}
  .dashtiles-main>.green-tag>p{
    color: #267F24;
    background: #D5F2D4;
    border-radius: 4px;
    padding: 2px 8px;
    font-size: 12px;
    line-height: 18px;
}
  .dashtiles-main>.blue-tag>h4{
    color: #0321A0;

}
  .dashtiles-main>.blue-tag>p{
      color: #0321A0;
    background: #ECF0FE;
    border-radius: 4px;
    padding: 2px 8px;
    font-size: 12px;
    line-height: 18px;
}
.dashtiles{
    padding: 16px 24px;
    background-color: #fff;
    border-radius: 4px;
    width: 18%;
}
.dashtiles-container{
    margin-top: 22px;
}
.dashtiles h4{
    font-size: 12px;
    font-weight: 500;
    color: #808080;
    margin:0px;
    margin-bottom: 12px;
}
.dashtiles p{
    font-size: 20px;
    font-weight:700;
    color: #202020;
    margin: 0px;
}
.dashblog-container{
    display: flex;
    gap: 14px;
    margin-top: 70px;
}
.dashblog-leftdiv{
    width: 56%;
    height: 500px;
}
.dashblog-rightdiv{
    width: 44%;
    height: 500px;
}
.dashleft-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.dashleft-top h2,.dashrightblog-graph h2{
    font-weight: 700;
    font-size: 16px;
    color:#000;
    display: inline-block;
}
.dashleft-top>span>a{
    color: #4B6CFB;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 14px;
    display: inline-block;
}

.dashrightblog-authors h4{
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #000;
}
.dashleftblog,.dashrightblog{
    background-color: #fff;
    padding: 16px;
    border-radius: 4px;
}
.dashleftblog{
    margin-bottom: 16px;
}
.dashrightblog-wrap{
  width: 100%;
    border-radius: 4px;
}
.dashrightblog-top{
    background: #14142D;
    border-radius: 4px 4px 0px 0px;
}
.dashrightblog-top h2{
    background: linear-gradient(292.24deg, #E16AE0 -2.98%, #949EFA 108.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 14px;
    font-weight: 600;
    padding: 9px 17px;
}
.dashblogleft-body,.dashblogright-body{
    margin-top: 26px;
}
.dashblogleft-body h4,.dashblogright-body h4{
    font-size: 14px;
    font-weight: 600;
    color: #000;
    margin-bottom: 8px;
}
  .dashblogleft-body p,.dashblogright-body p{
    font-size: 14px;
    font-weight: 300;
    color: #696969;
    line-height: 1.4;
}
.dashblogleft-foot,.dashblogright-foot{
    margin-top: 19px;
}
.dashblogleft-foot h4,.dashblogright-foot h4{
    padding: 4px 8px;
    background-color: #f4f4f4;
    color: #808080;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 300;
}
.dashblogleft-foot p,.dashblogright-foot p{
    font-weight: 400;
    font-size: 12px;
    color: #a4a4a4;
}
.dashrightblog-authors{
    padding:24px 45px;
}
.dashrightblog-authors h4{
    margin: 0px;
}
.dashrightblog-graph>div{
    height: 250px;
    border:1px solid #eaeaea;
    border-radius: 4px;
}
.author-pics>img{
    border-radius: 50px;
    border: 1px solid #fff;
    margin-right: -10px;
}
.author-pics>img:hover{
    position: relative;
    z-index: 100;
}
.dashblog-views p{
    font-weight: 400;
    font-size: 12px;
    color: #a4a4a4;
    display: inline;
    gap: 4px;
}
.dashrightblog-head{
    gap: 20px;
}
.dashblog-views {
    gap: 4px;
}
.header_a{
    color: #4B6CFB;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
ul li{
    cursor: pointer;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-64{
  margin-bottom: 64px;
}
.mb-48{
  margin-bottom: 48px;
}
  
    /* blog create */
.zem-write  form{
  gap: 25px;
  max-width: 1081px;
  margin: 0px auto;
}
.zem-write-left{
    background-color: #FFFFFF;
    border-radius: 8px 8px 4px 4px;
    padding: 20px 0px 20px 0px;
    border: 1px solid #EAEAEA;
    height: 87vh;
    overflow-y: scroll;
}

.zem-write-tags{
    padding: 9px 0px;
    border-width: 1px 0px 1px 0px ;
    border-style:solid;
    border-color: #eaeaea;
    padding: 9px 20px 9px 20px;

}
.zem-tags{
    background: #F4F4F4;
    border-radius: 4px;
    border:0px solid #fff;
    padding: 6px 8px;
}
.zem-category a{
  display: block;
    margin: 3px 0px 3px 8px;
    font-size: 12px;
    font-weight: 400;
    height: 24px;
    text-decoration: none;
    color: #404040;
}

.zem-author span{
    margin:0px 10px;
    font-size: 12px;
    font-weight: 400;
    height: 24px;
    vertical-align: middle;
    padding: 6px 8px;
}
.zem-write-left>label{
    display: none;
}
#author-alert{
  padding: 6px 16px;
  background: #FFD6D6;
  border-radius: 4px;
  color: #A30000;
  font-size: 12px;
  font-weight: 400;
    margin-bottom: 8px;
    width: fit-content;
    align-items: center;
}
/* .zem-icons{
    background-image: url(../blogs/images/Editor_Icons.png);
} */
.zem-submit-div
{
flex: 0 0 112% !important;
width: 100%;
max-width: 120% !important;
background: #fff;
text-align: right;
padding: 24px 6% !important;
box-shadow: 5px -8px 8px rgba(0, 0, 0, 0.04);
position: fixed !important;
bottom: 0px;
right: 0px;
z-index: 10;
}
.admin-navbar{
    z-index:100;
}
.btn-outline{
    color: #4B6CFB;
    font-weight: 600;
    font-size: 14px;
    border: 2px solid #4B6CFB;
}
.zem-submit-div .btn-outline{
    margin-right: 8px;
}

.zem-add-meta a {
    font-weight: 400;
    font-size: 14px;
    color: #404040;
}
.zem-thumbnail-div{
    padding: 16px 24px 24px;
    background: #fff;
    width: 275px;
    height: 196px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
}

.zem-thumbnail-div h3{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
}

/*common space */
.mt-0{
    margin-top: 0px;
}
.mt-4{
    margin-top: 4px;
}
.mt-8{
    margin-top: 8px !important;
}
.mb-28{
    margin-bottom: 28px;
}
.mb-24{
  margin-bottom: 24px;
}
.mt-16{
    margin-top: 16px;
}
.mb-8{
    margin-bottom: 8px;
}
.mr-8{
    margin-right: 8px;
}
.ml-24{
  margin-left: 24px;
}
.ml-8px{
  margin-left: 4px;
}
.h-64{
  height: 64px;
}
.w-50{
  width: 50%;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 11;
  right: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 420px;
  z-index: 9999;
  /*max-width: 90%;*/
  background: #fff;
  padding: 24px;
}
.modal_content{
   border-radius: 4px;
  position: relative;
  z-index: 9999;
  width: 620px;
  /* height: 712px;
  overflow-y: auto; */
  /*max-width: 90%;*/
  background: #fff;
  padding: 24px;
}

.modal__footer {
  text-align: right;
}
.modal__footer a {
    color: #585858;
  }
  .modal__footer i {
    color: #d02d2c;
  }

.modal__close {
 /* position: absolute;
    top: 10px;
    right: 16px; */
    font-size: 22px;
    color: #585858;
    text-decoration: none;
}
.container {
  padding: 16px;
  background-color: white;
}
/*common space */
.content-wrapper.zem-write{
  padding: 32px 60px 152px 56px !important;
}
/* img preview */
.zem-imgprev{
    position: relative;
    width: 100%;
    max-width: 373px!important;
    height: 196px!important;
    text-align: center!important;
    font-weight: 400!important;
    font-size: 12px!important;
    cursor: pointer!important;
    color: gray!important;
    border: 0.1px dashed #a4a4a4!important;
    border-radius: 4px!important;
}

.zem-imgprev:hover{
  font-weight: 500;
  border: 1.6px dashed #a4a4a4!important;
  color:#404040;
}

.zem-imgprev p{
  font-weight: inherit;
  font-size: 12px;
  color: #808080;
}

.zem-imgprev:hover {
  background-color: #f5f5f5;
  color: #808080;
}

.zem-imgprev:active{
  background-color: #eaeaea;
}

.zem-imgprev .single-img-box{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    border-radius: 4px;
    background:transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.single-img-box>span {
  position: absolute;
  width: 14px;
  height: 14px;
  color: #000;
  font-size: 13px;
  top: 2px;
  right: 1px;
  content: "✖";
  background-color: rgba(255, 255, 255, 0.5);
  line-height: 14px;
  z-index: 1;
  cursor: pointer;
  border-radius: 50%;
}
    
.zem-thumbnail-div .zem-imgprev {
  width: 229px !important;
  height: 130px !important;
}

#og-modal .container{
    padding: 0px;
}
#og-modal label{
  font-weight: 600;
  font-size: 14px;
  color:#14142D;
}
.zem-imgprev input{
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.zem-imgprev.author-prev{
  border: none !important;
  width: 97px !important;
    height: 98px !important;
    margin: 0px auto;
}
.author-prev .single-img-box{
    background-size: cover !important;
    border-radius: 50% !important;
}
#addCategory-modal .zem-imgprev, #EditCategory .zem-imgprev{
  height: 179px!important;
}
#AddNewAuth .zem-imgprev:hover, #EditAuth .zem-imgprev:hover{
  background-color: transparent;
}
.alert-me{
  display: none;
  width: fit-content;
  position: absolute;
  top:0px;
  left: 50%;
  right: 50%;
  z-index: 999;
  padding: 10px 24px;
  box-shadow: 8px 4px 16px rgba(0, 0, 0, 0.04);
border-radius: 4px;
transition: top 0.5s ease-in-out;

}
.alert-me.sucess-alert{
  background-color: #d5f2d4;
  animation: alertfadein 3s cubic-bezier(0.01, 0, 0.37, 1.32) 0ms 1;
  display: block ;
}
.alert-me.fail-alert{
  background: #FFD6D6;
  animation: alertfadein 3s cubic-bezier(0.01, 0, 0.37, 1.32) 0ms 1;
  display: block ;
}
@keyframes alertfadein {
  0%{
    top:0px;
  }
  10%{
    top:75px;
  }
  95%{
    top:75px;
  }
  100%{
    top:0px;
  }
}