.row1{
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: center; 
    margin:25px 25px ;   
}
body{
    overflow-x: hidden;
}
.cent{
    display: flex;
    justify-content: center;
}
p{
    text-align: center;
    font-family: calibri;  
}
.row2{
    display: flex;
    flex-direction: row;
    gap:10px;
}
.column1>div{
    background-color: #ecebeb;
}
.para1{
    
    font-weight: 600;
    text-align: center;
    font-family: calibri;
    letter-spacing: 2px;
}
.container{
    text-align: center;
}
#button{
    background: #ffffff;
    border: 1px solid #E0E0E0;
    justify-content: center;
     
}
.row3{
    display: flex;
    flex-direction: row;    
    gap:10px;
    justify-content: center;
   margin: 25px auto;
}
.row4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px; 
    overflow: hidden;
}
.row5{
    display: flex;
    flex-direction: row;
    gap:10px; 
    justify-content: center;
}
a{
    text-decoration: none;
    font-family: calibri;
    margin-left: 40px;
}
ul{
    list-style-type: none;
    line-height: 2em;
    font-size: 20px;
}
.col1{
    margin-left: 40px;
}
.col1>p{
    font-family: calibri;
    font-size: 20px;
}
.row6{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #EAEAEA;
    padding: 15px;
}
.line{
    border-right: 1px solid #000;
    padding:0px 20px;
}
.line1{
    padding-right: 40px;
}

.last{
    text-align: center;
}
*{
    padding: 0;
    margin: 0;
}

@media only screen and (max-width:580px) {
 
    ul{
font-size:12px;
    }
    .col1>p{
        font-size: 12px;
    }
    .row1{
        display: flex;
        flex-direction: column; 
        justify-content: center;
        
    }
    .row1>p{
        text-align: center;
    }
    p{
    text-align: center;
    font-size: 12px;
    justify-content: center;
    }
    .container{
        justify-content: center;
    }
    .para1{
        font-size: 14px;
        justify-content: center;
    } 
    .row4{
        display: flex;
        flex-direction: column;
        justify-content: center;
      
    }  
    .row5>col1{
        display: flex;
        flex-direction: column; 
        justify-content: center; 

    } 
    .row3{
        display: flex;
        flex-direction: column;
        justify-content: center; 

    }
}

     
